.DS_Store
.idea/
*.iml

# Bi mat: khong day len Git
.env
backend/oauth2.json
*-firebase-adminsdk-*.json

# File build
build/
.dart_tool/
target/
frontend/android/app/google-services.json
!.env.example
