# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# API Keys, Environment Variables & Sensitive Configurations
.env
.env.*
local.properties
google-services.json
GoogleService-Info.plist
*api_keys.json
*secrets.json
config/keys.dart
